body{
    background: url(grocery_1.jpg) no-repeat fixed  center;
    background-size: auto;
}
h1{
  
    color: #000000;
    text-shadow: 3px 3px #ffffff;
}
.search-form{
    display: flex;
    flex-direction: row;
}
.search-form input, button{
    padding: 20px;
    border-radius: 5px;
}
.search-form input{
    background-color: lightgray;
    border-color: #0c0c0c;
    width: 50vh;
}
.search-form button{
    background-color:#0c0c0c;
    color: rgb(255, 255, 255);
    border-color:#0c0c0c;

}
.input-div form{
    position: absolute;
   top: 10%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.category-div{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.items_container .fruits{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px 30px;
    color: #0039a6;
    background-color: #ffffff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: fit-content;
    
}

.items_container .beverages{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px 30px;
    color: #0039a6;
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: fit-content;
}
.items{
    padding: 10px 10px;
    width: 30%;

 }

.search-form button:hover{
    background-color: #5e5b5b;
    border-color: #5e5b5b;
}
img{
    width: 100px;
    height: 100px;
}
.mango , .pineapple, .orange, .banana, .jackfruit, .grapes{
 font-weight: 800;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.old_fashioned , .martini, .cola, .pepsi, .whisky, .beer{
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 span{
     color:#000000 ;
     font-family:cursive;
 }